---
- name: Clone a VM
  proxmox_kvm:
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    api_host: "{{ proxmox_host }}"
    node: "{{ proxmox_node }}"
    clone: "{{ clone_name }}"
    name: "{{ vm_name }}"
    vmid: "{{ clone_vm_id }}"
    newid: "{{ vm_id }}"
    full: "{{ full_copy }}"
    vm_timeout: "{{ vm_timeout }}"
