---
- name: Update VM Memory and CPU
  proxmox_kvm:
    api_user: "{{ proxmox_user }}"
    api_password: "{{ proxmox_password }}"
    api_host: "{{ proxmox_host }}"
    node: "{{ proxmox_node }}"
    vmid: "{{ vm_id }}"
    cores: "{{ vm_cores }}"
    memory: "{{ vm_memory }}"
    cpu: "{{ vm_cpu_type }}"
    update: yes
